<p id="notice"><%= notice %></p>

<p>
  <strong>List name:</strong>
  <%= @todo_list.list_name %>
</p>

<p>
  <strong>List due date:</strong>
  <%= @todo_list.list_due_date %>
</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Due date</th>
      <th>Description</th>
      <th>Completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todo_list.todo_items.each do |todo_item| %>
      <tr>
        <td><%= todo_item.title %></td>
        <td><%= todo_item.due_date %></td>
        <td><%= todo_item.description %></td>
        <td><%= todo_item.completed %></td>
        <td><%= link_to 'Show', [@todo_list, todo_item] %></td>
         
        <td><%= link_to 'Destroy', [@todo_list, todo_item], method: :delete %></td>

      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back', todo_lists_path %>
<%= link_to 'New Todo Item', new_todo_list_todo_item_path(@todo_list) %>

<!-- Add a link to create a ‘New Todo Item’. (hint: Use the link_to and new_todo_list_todo_item_path(@todo_list)
helpers to produce a link tag) -->